@model icart_be.Models.Estabelecimento
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Página inicial";
    icart_be.Models.Estabelecimento e = null;
}
@if (Context.Session.GetString("user") == null)
{
}
else
{
    e = JsonConvert.DeserializeObject<icart_be.Models.Estabelecimento>
        (Context.Session.GetString("user").ToString());
}
<br>
<div id="cont-propaganda">
    <div>
        <img src="~/img/propaganda_app.png" id="img-propaganda" alt="propaganda aplicativo icart">
    </div>
    <div id="propaganda">
        <p id="texto-propaganda-v">
            <span id="cor-azul">Nunca</span>
            mais
            <br>
            pegue
            <span id="cor-verde">filas</span>
        </p>
    </div>
</div>
<br>
<div id="garantias">
    <img src="~/img/img-garantias.png" alt="garantias">
</div>
<br>
<br>
