@{
    ViewData["Title"] = "Página inicial";
}

<br>
<div id="cont-propaganda">
    <div>
        <img src="~/img/propaganda_app.png" id="img-propaganda" alt="propaganda aplicativo icart">
    </div>
    <div id="propaganda">
        <p id="texto-propaganda-v">
            <span id="cor-azul">Nunca</span>
            mais
            <br>
            pegue
            <span id="cor-verde">filas</span>
        </p>
    </div>
</div>
<br>
<div id="cont-compra">
    <div class="cont-planos" style="padding-left: 200px;">
        <div class="plano">
            <p class="tamanho-estabelecimento">
                Pequenos comércios
            </p>
            <br>
            <br>
            <p class="preco">
                R$1000,00
            </p>
            <br>
            <br>
            <select name="licenca" id="licenca">
                <option value="licenca-1-mes">Licença de 1 mês</option>
                <option value="licenca-1-ano">Licença de 1 ano</option>
            </select>
            <br>
            <br>
            <br>
            <button class="comprar">
                <a href="" class="link-compra" style="text-decoration: none;">
                    <p class="bto-comprar">COMPRE AGORA</p>
                </a>
            </button>
            <br>
            <br>
            <br>
            <div class="cont-desc">
                <div class="cont-img-check">
                    <img src="~/img/check.png" id="img-check" alt="descricao">
                </div>
                <div class="descricao">
                    <p class="texto-descricao">
                        xxxxxxxxxxxxxxx
                    </p>
                    <p class="texto-descricao">
                        xxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-planos">
        <div class="plano">
            <p class="tamanho-estabelecimento">
                Grandes comércios
            </p>
            <br>
            <br>
            <p class="preco">
                R$1600,00
            </p>
            <br>
            <br>
            <select name="licenca" id="licenca">
                <option value="licenca-1-mes">Licença de 1 mês</option>
                <option value="licenca-1-ano">Licença de 1 ano</option>
            </select>
            <br>
            <br>
            <br>
            <button class="comprar">
                <a href="" class="link-compra" style="text-decoration: none;">
                    <p class="bto-comprar">COMPRE AGORA</p>
                </a>
            </button>
            <br>
            <br>
            <br>
            <div class="cont-desc">
                <div class="cont-img-check">
                    <img src="~/img/check.png" id="img-check" alt="descricao">
                </div>
                <div class="descricao">
                    <p class="texto-descricao">
                        xxxxxxxxxxxxxxx
                    </p>
                    <p class="texto-descricao">
                        xxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="cont-planos" style="padding-right: 200px;">
        <div class="plano">
            <p class="tamanho-estabelecimento">
                Franquias
            </p>
            <br>
            <br>
            <p class="preco">
                R$10000,00
            </p>
            <br>
            <br>
            <select name="licenca" id="licenca">
                <option value="licenca-1-mes">Licença de 1 mês</option>
                <option value="licenca-1-ano">Licença de 1 ano</option>
            </select>
            <br>
            <br>
            <br>
            <button class="comprar">
                <a href="" class="link-compra" style="text-decoration: none;">
                    <p class="bto-comprar">COMPRE AGORA</p>
                </a>
            </button>
            <br>
            <br>
            <br>
            <div class="cont-desc">
                <div class="cont-img-check">
                    <img src="~/img/check.png" id="img-check" alt="descricao">
                </div>
                <div class="descricao">
                    <p class="texto-descricao">
                        xxxxxxxxxxxxxxx
                    </p>
                    <p class="texto-descricao">
                        xxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div id="garantias">
    <img src="~/img/img-garantias.png" alt="garantias">
</div>
<br>
<br>
