@model icart_be.Models.Estabelecimento
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Página inicial";
    icart_be.Models.Estabelecimento e = null;
}
@if (Context.Session.GetString("user") == null)
{
}
else
{
    e = JsonConvert.DeserializeObject<icart_be.Models.Estabelecimento>
        (Context.Session.GetString("user").ToString());
}
<br>
<div id="cont-propaganda">
    <div>
        <img src="~/img/propaganda_app.png" id="img-propaganda" alt="propaganda aplicativo icart">
    </div>
    <div id="propaganda">
        <p id="texto-propaganda-v">
            <span id="cor-azul">Nunca</span>
            mais
            <br>
            pegue
            <span id="cor-verde">filas</span>
        </p>
    </div>
</div>
<br>
@if (Context.Session.GetString("user") == null)
{
    <div id="cont-compra">
        <div class="cont-planos">
            <div class="plano" style="padding-top: 90px;">
                <p class="tamanho-estabelecimento">
                    Estabelecimentos
                </p>
                <br>
                <br>
                <p class="preco">
                    R$1600,00
                </p>
                <br>
                <br>
                <select name="licenca" id="licenca">
                    <option value="licenca-1-mes">Licença de 1 mês</option>
                </select>
                <br>
                <br>
                <br>
                <button>
                    <a href="~/Estabelecimento/Cadastro_estabelecimento" class="link-compra" style="text-decoration: none;">
                        <p class="bto-comprar">COMPRE AGORA</p>
                    </a>
                </button>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
}
else
{
    if (e.Tipo_estabel.Equals("Não assinante"))
    {
        <div id="cont-compra">
            <div class="cont-planos">
                <div class="plano" style="padding-top: 90px;">
                    <p class="tamanho-estabelecimento">
                        Estabelecimentos
                    </p>
                    <br>
                    <br>
                    <p class="preco">
                        R$1600,00
                    </p>
                    <br>
                    <br>
                    <select name="licenca" id="licenca">
                        <option value="licenca-1-mes">Licença de 1 mês</option>
                    </select>
                    <br>
                    <br>
                    <br>
                    <button class="bto-comprar">
                        <a href="~/Usuario/Assinatura" class="link-compra" style="text-decoration: none;">
                            <p class="bto-comprar">COMPRE AGORA</p>
                        </a>
                    </button>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    }
}
<div id="garantias">
    <img src="~/img/img-garantias.png" alt="garantias">
</div>
<br>
<br>
