@model icart_be.Models.Usuario
@{
    ViewData["Title"] = "Cadastro estabelecimento";
}

<head>
    <link rel="stylesheet" href="~/css/cadastro-perfil.css">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="container-cadastro">
    <br><br><br>
    <h1 id="titulo-principal">Informações do estabelecimento</h1>
    <br><br><br><br><br>
    <form method="post" id="form-cadastro">
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="text" name="nome_empresarial" id="lacuna" placeholder="Nome Empresarial:" maxlength="45" required></div>
            <div id="container-lacuna"><input type="text" name="nome_fantasia" id="lacuna" placeholder="Nome Fantasia:" maxlength="45" required></div>
            <div id="container-lacuna"><input type="text" name="cnpj" id="lacuna" placeholder="CNPJ:" maxlength="14"required></div>
            <div id="container-lacuna"><input type="text" name="cep" id="lacuna" placeholder="CEP:" maxlength="8"required></div>
        </div>
        <br>
        <br>
        <br>
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="number" name="num_endereco" id="lacuna" placeholder="Número:" required></div>
            <div id="container-lacuna"><input type="text" name="tamanho" id="lacuna" placeholder="Tamanho Estabelecimento:" required></div>
            <div id="container-lacuna"><input type="text" name="bairro" id="lacuna" placeholder="Bairro:" required></div>
            <div id="container-lacuna"><input type="text" name="municipio" id="lacuna" placeholder="Municipio:" required></div>
        </div>
        <br>
        <br>
        <br>
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="text" name="uf" id="lacuna" placeholder="UF:" maxlength="2" required></div>
            <div id="container-lacuna"><input type="text" name="logradouro" id="lacuna" placeholder="Logradouro:" required></div>
            <div id="container-lacuna"><input type="text" name="email" id="lacuna" placeholder="E-mail:" required></div>
            <div id="container-lacuna"><input type="text" name="telefone" id="lacuna" placeholder="Telefone:" required></div>
        </div>
        <br><br><br>
                <div id="container-linhas-lacunas">
                    <div id="container-lacuna"><input type="text" name="complemento" id="lacuna" placeholder="Complemento:"></div>
                    <div id="container-lacuna"><input type="password" name="senha" id="lacuna" placeholder="Senha:" maxlength="16" required></div>
                    <div id="container-lacuna"></div>
                    <div id="container-lacuna"></div>
                </div>
        <br><br><br><br><br><br><br><br><br>
        <div style="padding-left: 600px">
            <input type="submit" value="Cadastrar" id="bto-cadastrar">
        </div>
    </form>
</div>