@{
    ViewData["Title"] = "Login";
}

<head>
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<div id="main" style="flex-direction:column">
    <div id="container-login">
        <p id="login">Login</p>
        <br><br><br>
        <form method="post" style="padding-left: 40px;">
            <input type="text" name="Cnpj" placeholder="E-mail:">
            <br><br><br><br>
            <input type="password" name="Senha" placeholder="Senha:">
            <br><br><br>
            <p id="texto-cadastro-estabelecimento" style="padding-left: 2px;">
                Não possui uma conta? <a href="~/Estabelecimento/Cadastro_estabelecimento" style="color: white;">cadastre seu estabelecimento</a>
            </p>
            <br><br><br>
            <div id="container-button-entrar">
                <a href=""><input type="submit" value="Entrar" id="bt-entrar" style="color: white; font-size: 19px; font-weight: 900; cursor: pointer;"></a> <!-- color type em submit -->
            </div>
        </form>
    </div>
    <br />
    <p style="display:flex; font-size:20px;">
        @TempData["mensagem"]
    </p>
</div>
