@{
}
<head>
    <link rel="stylesheet" href="~/css/cadastro-perfil.css">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="container-cadastro">
    <br><br><br>
    <h1 id="titulo-principal">Informações do produto</h1>
    <br><br><br><br><br>
    <form method="post" id="form-cadastro">
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="number" name="estoque" id="lacuna" placeholder="Estoque:"></div>
            <div id="container-lacuna"><input type="number" name="preco" id="cep" placeholder="Preço:"></div>
            <div id="container-lacuna"><input type="text" name="nome" id="lacuna" placeholder="Nome produto:"></div>
            <div id="container-lacuna"><input type="text" name="tipo_produto" id="lacuna" placeholder="Tipo produto:"></div>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <div id="container-button-cadastrar">
            <input type="submit" value="Alterar" id="bto-cadastrar"><!-- colocar submit no lugar de button -->
        </div>
    </form>
</div>
