@model icart_be.Models.Produtos
@{
    ViewData["Title"] = "Cadastro de produtos";
}

<head>
    <link rel="stylesheet" href="css/cadastro-produto.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        header {
            width: 100%;
            height: 70px;
            background-color: #A5CF20;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            margin-top: -180px;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<main>
    <div id="container-cadastro">
        <form method="post" enctype="multipart/form-data">
            <p>Produto</p>
            <input type="text" name="nome_produto" class="preenchimento" placeholder="Nome:" min="1" max="50">
            <input type="number" name="cod_produto" class="preenchimento" placeholder="Cod. do produto:" min="1" max="8">
            <input type="number" name="cod_barras" class="preenchimento" placeholder="Cod. de barras:" min="1" max="13">
            <input type="number" name="cod_estabel" class="preenchimento" placeholder="Cod. do estabelecimento:" min="1" max="6">
            <input type="number" name="estoque" class="preenchimento" placeholder="Estoque:" min="0">
            <input type="number" name="preco_produto" class="preenchimento" placeholder="Preço:" min="1">
            <input type="text" name="tipo_produto" class="preenchimento" placeholder="Tipo do produto:" min="1">
            <p>Imagem</p>
            <input type="file" value="imagem" id="preenchimento" name="Imagem">
            <br>
            <input type="submit" value="Cadastrar" id="cadastrar">
        </form>
    </div>
</main>
