@{
    ViewData["Title"] = "Histórico de vendas";
}

<head>
    <link rel="stylesheet" href="css/historico.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<br>
<br>
<div id="box-historico-vendas">
    <h1 class="titulo-grande">
        Últimas vendas
    </h1>
</div>
<br>
<br>
<p class="texto-ultimas-vendas">159 -Arroz (Camil)</p>
<br>
<br>
<p class="texto-ultimas-vendas">159 -Arroz (Camil)</p>
<br>
<br>
<p class="texto-ultimas-vendas">159 -Arroz (Camil)</p>
<br>
<br>
