@model List<icart_be.Models.Venda>
@{
    ViewData["Title"] = "Histórico de vendas";
}

<head>
    <link rel="stylesheet" href="css/historico.css">
    <link rel="stylesheet" href="css/index.css">
    <style>
        footer {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<br>
<br>
<div id="box-historico-vendas">
    <h1 class="titulo-grande" style="display:flex; margin:auto; justify-content:center;">
        Últimas vendas
    </h1>
</div>
@if (Model != null)
{
    @foreach (icart_be.Models.Venda v in Model)
    {
        <br>
        <br>
        <p class="texto-ultimas-vendas"> R$@v.Preco_total - @v.Cpf_cliente - @v.Data_compra </p>
    }
}
else
{
    <br />
    <br />
    <p style="font-size:20px; font-weight:bold; display: flex; justify-content: center; margin: auto">Não há vendas</p>
}


