@{
    ViewData["Title"] = "Cadastro empresarial";
}

<head>
    <link rel="stylesheet" href="css/cadastro-perfil.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="container-cadastro">
    <br><br><br>
    <h1 id="titulo-principal">Informações empresariais</h1>
    <br><br><br><br><br>
    <form action="post" id="form-cadastro">
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="text" name="nome-e" id="lacuna" placeholder="Nome Empresarial:"></div>
            <div id="container-lacuna"><input type="text" name="nome-f" id="lacuna" placeholder="Nome Fantasia:"></div>
            <div id="container-lacuna"><input type="text" name="complemento-e" id="lacuna" placeholder="Complemento:"></div>
            <div id="container-lacuna"><input type="text" name="cep-e" id="lacuna" placeholder="CEP:"></div>
        </div>
        <br>
        <br>
        <br>
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="text" name="numero-e" id="lacuna" placeholder="Número:"></div>
            <div id="container-lacuna"><input type="text" name="tamanho" id="lacuna" placeholder="Tamanho Estabelecimento:"></div>
            <div id="container-lacuna"><input type="text" name="bairro-e" id="lacuna" placeholder="Bairro:"></div>
            <div id="container-lacuna"><input type="text" name="municipio-e" id="lacuna" placeholder="Municipio:"></div>
        </div>
        <br>
        <br>
        <br>
        <div id="container-linhas-lacunas">
            <div id="container-lacuna"><input type="text" name="uf-e" id="lacuna" placeholder="UF:"></div>
            <div id="container-lacuna"><input type="text" name="logradouro" id="lacuna" placeholder="Logradouro:"></div>
            <div id="container-lacuna"><input type="text" name="email-e" id="lacuna" placeholder="E-mail:"></div>
            <div id="container-lacuna"><input type="text" name="telefone-e" id="lacuna" placeholder="Telefone:"></div>
        </div>
        <br><br><br><br><br><br><br><br><br>
        <div id="container-button-continuar">
            <input type="submit" value="Cadastrar" id="bto-continuar">
        </div>
    </form>
</div>