@model List<icart_be.Models.Produtos>
@{
    ViewData["Title"] = "Informações adicionais";
}
<head>
    <link rel="stylesheet" href="~/css/infos.css">
    <link rel="stylesheet" href="~/css/index.css">
</head>
<br>
<br>
<br>
<div id="box-texto-mais-vendidos">
    <h1 class="titulo-grande">
        Produtos cadastrados
    </h1>
</div>
<br>
<br>
<br>
<main>
    <div id="lista">
        @foreach (icart_be.Models.Produtos p in Model)
        {
            <div class="item">
                <div class="img">
                    <img src="" alt="">
                </div>
                <div class="informacoes">
                    <p>@p.Nome </p><br>
                    <p>qtd. @p.Estoque </p>
                </div>
            </div>
            <hr>
        }
    </div>
</main>
<br>
<br>
<br>
<div id="box-lugares-mais-vendidos">
    <h1 class="titulo-grande">
        Total de vendas
    </h1>
</div>
<br>
<br>
<div id="container-informacoes" style="display: flex; justify-content: center; align-items: center;">
    <h2 id="texto-informacoes">@TempData["vendas"]</h2>
</div>
<br>
<br>
