@{
    ViewData["Title"] = "Informações adicionais";
}
<head>
    <link rel="stylesheet" href="~/css/infos.css">
    <link rel="stylesheet" href="~/css/index.css">
</head>
<br>
<br>
<br>
<div id="box-texto-mais-vendidos">
    <h1 class="titulo-grande">
        Produto mais vendidos
    </h1>
</div>
<br>
<br>
<br>
<p class="texto-mais-vendidos">159 -Arroz (Camil)</p>
<br>
<br>
<p class="texto-mais-vendidos">159 -Arroz (Camil)</p>
<br>
<br>
<p class="texto-mais-vendidos">159 -Arroz (Camil)</p>
<br>
<br>
<br>
<div id="box-lugares-mais-vendidos">
    <h1 class="titulo-grande">
        Lugares com mais vendas
    </h1>
</div>
<br>
<br>
<div id="container-informacoes">
    <ins>
        <h2 id="texto-informacoes">Estabelecimento:</h2>
    </ins>
    <ins>
        <h2 id="texto-informacoes">Total de vendas:</h2>
    </ins>
</div>
<br>
<br>
<div id="container-informacoes">
    <div id="box-lugares-vendas-esquerda">
        <h2 id="nome-loja">Enxuto</h2>
        <br>
        <h3 id="endereco">Av. da saudade N°:347</h3>
    </div>
    <div id="box-lugares-vendas-direita">
        <h2 id="total-vendas">1560</h2>
    </div>
</div>
<br>
<hr id="linha-cinza">
<br>
<br>
<br>
<div id="container-informacoes">
    <div id="box-lugares-vendas-esquerda">
        <h2 id="nome-loja">Loja 3:</h2>
        <br>
        <h3 id="endereco">Av. da saudade N°:347</h3>
    </div>
    <div id="box-lugares-vendas-direita">
        <h2 id="total-vendas">1560</h2>
    </div>
</div>
<br>
<br>
